name: CHIP wheels build

on: push

env:
  matter_sdk_ref: v1.3.0.0

jobs:
  build_prepare:
    name: Prepare Matter SDK
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ steps.version.outputs.version }}

    steps:
      - name: Checkout build repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get version
        id: version
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y git zstd
          version=$(echo "${{ github.ref }}" | awk -F"/" '{print $NF}')
          if [[ "${version}" =~ ^refs/heads/ ]]; then
            today="$(date --utc '+%Y.%m.%d')"
            version="${today}.dev"
          fi
          echo "version=$version" >> "$GITHUB_OUTPUT"

      - name: Checkout Matter SDK
        uses: actions/checkout@v4
        with:
          repository: project-chip/connectedhomeip
          ref: ${{ env.matter_sdk_ref }}
          path: project-chip

      - name: Checkout submodules
        working-directory: project-chip
        run: scripts/checkout_submodules.py --shallow --platform linux

      - name: Bootstrap SDK
        working-directory: project-chip
        run: bash scripts/bootstrap.sh -p all,linux

      - name: Create Matter SDK archive
        working-directory: project-chip
        run: |
          tar -caf ../project-chip.tar.zst \
            --exclude .environment \
            --use-compress-program=zstdmt .

      - name: Upload Matter SDK artifact
        uses: actions/upload-artifact@v4
        with:
          name: matter-sdk-${{ github.run_id }}
          path: project-chip.tar.zst
          overwrite: true

  build_linux_armv7_python_lib:
    name: Build Python wheels for Linux (armv7l)
    needs: build_prepare
    runs-on: ubuntu-latest

    container:
      image: damienkastner/chip-build-crosscompile-armhf:0.6.25
      options: --sysctl "net.ipv6.conf.all.disable_ipv6=0 net.ipv4.conf.all.forwarding=1 net.ipv6.conf.all.forwarding=1"

    defaults:
      run:
        working-directory: project-chip

    steps:
      - name: Download Matter SDK artifact
        uses: actions/download-artifact@v4
        with:
          name: matter-sdk-${{ github.run_id }}

      - name: Extract Matter SDK
        run: |
          rm -rf project-chip
          tar -xaf project-chip.tar.zst --use-compress-program=zstdmt .
          git config --global --add safe.directory "*"

      - name: Bootstrap (build environment)
        run: bash scripts/bootstrap.sh -p all,linux

      - name: Generate GN build
        run: |
          scripts/build/gn_gen.sh --args=" \
            target_os=\"linux\" \
            target_cpu=\"arm\" \
            sysroot=\"/opt/raspberry-buster-armhf-sysroot\" \
            enable_rtti=true \
            chip_crypto=\"boringssl\" \
            chip_mdns=\"minimal\" \
            chip_minmdns_default_policy=\"libnl\" \
            chip_config_memory_debug_checks=false \
            chip_config_memory_debug_dmalloc=false \
            chip_python_version=\"${{ needs.build_prepare.outputs.version }}\" \
            chip_python_package_prefix=\"chip\" \
            chip_python_platform_tag=\"manylinux2014_armv7l\" \
          "

      - name: Build Matter Python wheels
        run: |
          scripts/run_in_build_env.sh "ninja -C out matter-repl"

      - name: Upload wheels artifact
        uses: actions/upload-artifact@v4
        with:
          name: chip-wheels-linux-armv7l
          path: project-chip/out/controller/python/*.whl
          overwrite: true

      - name: Upload wheels to GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: project-chip/out/controller/python/*.whl
