name: CHIP wheels build (ARMv7)

on:
  push:
    branches:
      - main
      - dev
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  MATTER_SDK_REF: v1.4.0.0  # Consider updating to a newer version

jobs:
  build_prepare:
    name: Prepare Matter SDK
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout build repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine version
        id: version
        shell: bash
        run: |
          version="${{ github.ref_name }}"
          today="$(date --utc '+%Y-%m-%d')"
          midnight_timestamp="$(date --utc +%s --date=$today)"
          calver_date="$(date --utc --date=$today '+%Y.%-m.dev%-d')"
          
          if [ "${{ github.event_name }}" == "push" ]; then
            if [[ "${version}" == "main" || "${version}" == "dev" ]]; then
              commit_count="$(git rev-list --count --since=$midnight_timestamp HEAD)"
              commit_count="$(printf "%02d" ${commit_count})"
              version="${calver_date}${commit_count}"
            fi
          elif [ "${{ github.event_name }}" == "pull_request" ]; then
            version="${calver_date}+pr${version%%/*}"
          elif [ "${{ github.event_name }}" == "release" ]; then
            version="${{ github.event.release.tag_name }}"
          fi
          
          echo "Building version: $version"
          echo "version=$version" >> "$GITHUB_OUTPUT"

      - name: Checkout Matter SDK
        uses: actions/checkout@v4
        with:
          repository: project-chip/connectedhomeip
          ref: ${{ env.MATTER_SDK_REF }}
          path: connectedhomeip

      - name: Checkout submodules
        working-directory: connectedhomeip
        run: scripts/checkout_submodules.py --shallow --platform linux

      - name: Apply patches
        working-directory: connectedhomeip
        run: |
          for patch in ../*.patch
          do
              echo "Applying ${patch}"
              patch -p1 < $patch
          done

      - name: Bootstrap Matter SDK
        working-directory: connectedhomeip
        run: bash scripts/bootstrap.sh -p all,linux

      - name: ZAP pre-generation
        working-directory: connectedhomeip
        run: scripts/run_in_build_env.sh "scripts/codepregen.py ./zzz_pregenerated/"

      - name: Package Matter SDK
        run: |
          tar -caf ../connectedhomeip.tar.zst \
            --exclude ./connectedhomeip/.environment \
            --use-compress-program=zstdmt \
            .
          mv ../connectedhomeip.tar.zst ./connectedhomeip.tar.zst

      - name: Upload Matter SDK artifact
        uses: actions/upload-artifact@v4
        with:
          name: matter-sdk-${{ github.run_id }}
          path: connectedhomeip.tar.zst

  build_linux_armv7_python_lib:
    name: Build Python wheels (ARMv7)
    needs: build_prepare
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    container:
      image: damienkastner/chip-build-crosscompile-armhf:0.6.25
      options: >-
        --sysctl net.ipv6.conf.all.disable_ipv6=0
        --sysctl net.ipv4.conf.all.forwarding=1
        --sysctl net.ipv6.conf.all.forwarding=1

    defaults:
      run:
        working-directory: ./connectedhomeip/

    steps:
      - name: Download Matter SDK
        uses: actions/download-artifact@v4
        with:
          name: matter-sdk-${{ github.run_id }}

      - name: Extract Matter SDK
        working-directory: ./
        run: |
          rm -rf connectedhomeip/
          tar -xaf ./connectedhomeip.tar.zst --use-compress-program=zstdmt .
          git config --global --add safe.directory "*"

      - name: Bootstrap (container)
        run: bash scripts/bootstrap.sh -p all,linux

      - name: Generate GN build and compile
        run: |
          scripts/build/gn_gen.sh --args=" \
            target_os=\"linux\" \
            target_cpu=\"arm\" \
            sysroot=\"/opt/raspberry-buster-armhf-sysroot\" \
            enable_rtti=true \
            chip_crypto=\"boringssl\" \
            chip_mdns=\"minimal\" \
            chip_minmdns_default_policy=\"libnl\" \
            chip_config_memory_debug_checks=false \
            chip_config_memory_debug_dmalloc=false \
            chip_exchange_node_id_logging=true \
            chip_python_version=\"${{ needs.build_prepare.outputs.version }}\" \
            chip_python_package_prefix=\"chip\" \
            chip_python_platform_tag=\"manylinux2014_armv7l\" \
            chip_code_pre_generated_directory=\"$(pwd)/zzz_pregenerated\" \
          "
          scripts/run_in_build_env.sh "ninja -C out matter-repl"

      - name: Upload wheels as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: chip-wheels-linux-armv7l
          path: ./connectedhomeip/out/controller/python/*.whl

      # - name: Upload wheels as release assets
      #   uses: softprops/action-gh-release@v2
      #   if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
      #   with:
      #     files: ./connectedhomeip/out/controller/python/*.whl